In [1]:
import csv
import os
import pandas as pd
os.listdir()

['.ipynb_checkpoints', 'main_Jorge.ipynb', 'Resources']

In [2]:
file = os.path.join("Resources","election_data.csv")

In [3]:
poll_df = pd.read_csv(file)
poll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
total = len(poll_df["Voter ID"].value_counts())
#total = (("{:,}".format(total)))
total

3521001

In [5]:
poll_df["Percentage"] = 1/total*100
poll_df["Votes"] = 1
poll_df.head()

   Voter ID County Candidate  Percentage  Votes
0  12864552  Marsh      Khan    0.000028      1
1  17444633  Marsh    Correy    0.000028      1
2  19330107  Marsh      Khan    0.000028      1
3  19865775  Queen      Khan    0.000028      1
4  11927875  Marsh      Khan    0.000028      1

In [36]:
group_df = poll_df.groupby("Candidate")
summary = group_df.sum()
summary = summary.loc[:,["Percentage", "Votes"]]

           Percentage    Votes
Candidate
Correy      19.999994   704200
Khan        63.000011  2218231
Li          13.999996   492940
O'Tooley     2.999999   105630
   Total Votes
0      3521001

In [42]:
print(pd.DataFrame({"Total Votes":[total]}))

print(summary)

print("Winner:Khan")

   Total Votes
0      3521001
           Percentage    Votes
Candidate
Correy      19.999994   704200
Khan        63.000011  2218231
Li          13.999996   492940
O'Tooley     2.999999   105630
Winner:Khan

In [41]:
summary.to_excel("jorge_poll.xlsx", index = True)