In [10]:
# -*- coding: utf-8 -*-
"""
Created on Wed Oct  2 21:50:07 2019

@author: yorch
"""

# -*- coding: UTF-8 -*-
"""PyBank Homework Solution."""

# Dependencies
import csv
import os
import pandas as pd

In [69]:
# Files to load and output (Remember to change these)
file_to_load = os.path.join("Resources", "budget_data.csv")
file_to_output = os.path.join("analysis", "budget_analysis.txt")

'Resources\\budget_data.csv'

In [63]:
# Import the books.csv file as a DataFrame
file_to_load_df = pd.read_csv(file_to_load)
file_to_load_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

TypeError: 'DataFrame' object is not callable

In [28]:
#Determine Rows Count
rows_count = len(file_to_load_df["Date"].unique())
rows_count

86

In [35]:
#Determine Sum
sum_gl = file_to_load_df["Profit/Losses"].sum()
sum_gl

38382578

In [109]:
change = file_to_load_df["Profit/Losses"].diff()
file_to_load_df["ChangeinProfits"] = change
average = file_to_load_df["ChangeinProfits"].mean()
average

-2315.1176470588234

In [101]:
greatest_increase_num = file_to_load_df["ChangeinProfits"].max()
greatest_increase_num
greatest_decrease_num = file_to_load_df["ChangeinProfits"].min()
greatest_decrease_num

-2196167.0

In [122]:
output_data = pd.DataFrame({"total_months":[rows_count],
                            "Total":[sum_gl],
                            "Average  Change":[average],
                            "Greatest Increase in Profit":[greatest_increase_num],
                            "Greatest Decrease in Profit":[greatest_decrease_num]})
output_data.T

                                        0
total_months                 8.600000e+01
Total                        3.838258e+07
Average  Change             -2.315118e+03
Greatest Increase in Profit  1.926159e+06
Greatest Decrease in Profit -2.196167e+06

NameError: name 'net_monthly_avg' is not defined