In [391]:
# -*- coding: utf-8 -*-
"""
Created on Wed Oct  2 21:50:07 2019

@author: yorch
"""

# -*- coding: UTF-8 -*-
"""PyBank Homework Solution."""

# Dependencies
import csv
import os
import pandas as pd

In [401]:
# Files to load and output (Remember to change these)
file_to_load = os.path.join("Resources", "budget_data.csv")

In [402]:
# Import the books.csv file as a DataFrame
file_to_load_df = pd.read_csv(file_to_load)
file_to_load_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [403]:
#Determine Rows Count
rows_count = len(file_to_load_df["Date"].unique())

In [404]:
#Determine Sum
sum_gl = file_to_load_df["Profit/Losses"].sum()
sum_gl = (("$ {:,}".format(sum_gl)))
sum_gl

'$ 38,382,578'

In [405]:
change = file_to_load_df["Profit/Losses"].diff()
file_to_load_df["ChangeinProfits"] = change
average = file_to_load_df["ChangeinProfits"].mean()
average = (("$ {:.0f}".format(average)))

In [406]:
greatest_increase_num = file_to_load_df["ChangeinProfits"].max()
greatest_date = file_to_load_df.loc[file_to_load_df["ChangeinProfits"] == greatest_increase_num]
greatest_date = greatest_date["Date"]
greatest_date = greatest_date.to_string(index=False)
greatest_increase_num = (("$ {:,}".format(greatest_increase_num)))
g_increase = [greatest_date, greatest_increase_num]

In [407]:
greatest_decrease_num = file_to_load_df["ChangeinProfits"].min()
greatest_date2 = file_to_load_df.loc[file_to_load_df["ChangeinProfits"] == greatest_decrease_num]
greatest_date2 = greatest_date2["Date"]
greatest_date2 = greatest_date2.to_string(index=False)
greatest_decrease_num = (("$ {:,}".format(greatest_decrease_num)))
g_decrease = [greatest_date2, greatest_decrease_num]

In [408]:
output_data = pd.DataFrame({"total_months":[rows_count],
                            "Total":[sum_gl],
                            "Average  Change":[average],
                            "Greatest Increase in Profit":[g_increase],
                            "Greatest Decrease in Profit":[g_decrease]})
output_data = output_data.T
output_data

                                                       0
total_months                                          86
Total                                       $ 38,382,578
Average  Change                                  $ -2315
Greatest Increase in Profit   [ Feb-2012, $ 1,926,159.0]
Greatest Decrease in Profit  [ Sep-2013, $ -2,196,167.0]

In [409]:
output_data.to_excel("jorge_table.xlsx", index = False)